SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) + SCRAM-SHA3-512(-PLUS) supports

Dear @memcached team,

In first, I wish you a Happy New Year!

A big part is in:
- https://github.com/couchbase/memcached/tree/master/cbsasl
- https://github.com/couchbase/memcached/search?o=asc&q=scram&s=committer-date&type=commits

Can you add supports of :
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

You can add too:
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

- SCRAM-SHA-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

- SCRAM-SHA3-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- Channel Bindings for SCRAM over TLS 1.3: https://tools.ietf.org/html/draft-whited-tls-channel-bindings-for-tls13 -> https://tools.ietf.org/html/draft-ietf-kitten-tls-channel-bindings-for-tls13

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1


Hey,

Thanks for the notes!

I'll have to give this some thought. I've been working toward deprecating the binary protocol, which is our only usage of SASL. text is wrapped with TLS with an optional plaintext token authentication. End users getting SASL to work has been a long standing struggle that other systems (ie; redis) simply sidestepped seemingly successfully.

@dormando What is the preferred way to authenticate to a memcached process?

@madolson Nobody seems to ask for it. There's cert auth support in TLS mode and in text mode there's an extra token based auth (see doc/protocol.txt). SASL was only ever used in the binary protocol and users struggled with it so much I was never motivated to improve it. I think couchbase's had quickly written their own sasl server libs to simplify things, which defeated the purpose since it was supposed to allow users to have pluggable authentication backends.

So it's not clear anyone ever used it for its intended purpose, and if anyone had I've never heard about it :(

About Couchbase and memcached, it is specified "Memcached work planned for contribution back to memcached/memcached"

Note: There are a lot of libs/softs which use already SCRAM since a long time...

I have done a big list in "State of Play"...

That work is not being contributed back. Couchbase is its own thing and has been for a decade? They had a large rewrite that we didn't end up taking and their code was incompatible since then.

SCRAM seems perfectly fine; the problem is end user requests (haven't heard of any), consequently sponsorship (I have no motivation to do this myself unless a client pays for it, as my time's already blocked out for months), and that the text protocol doesn't use SASL anywhere (primary protocol now)